.. image:: https://secure.travis-ci.org/{{github_username}}/{{name}}.png

.. image:: https://pypip.in/d/{{name}}/badge.png

.. image:: https://pypip.in/v/{{name}}/badge.png

Overview
========


Licence
=======

{{license_name}}


